
#barrah{
	height: 72px;
	background-color:#23232d ;

}

#imagen{
	padding-top: 24px;
	padding-left: 85px;
}

.nav{
	margin-left: 250px;
	margin-top: -24px;
	
}

#lista{
padding-top: 21px;
position: absolute;
visibility: hidden;
background-color: #23232d;
opacity: 0;
}

td:hover #lista{
   visibility: visible;
   opacity: 1; 

}

#lista li:hover{
    background-color: black;
   
}

#lista li:hover span{
     color: white;
}


ul{
    border-radius: 4px;
    margin: 0;
    list-style: none;
    padding: 0;
    top: 30.4999998px;
    width: 215px;
    

}

ul a span{
   color: #d1d1d7;
    display: block;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    padding: 0 10px;
    text-align: left;
    transition-duration: .15s;
    transition-property: background-color,color;
}

a{

    cursor: pointer;
    outline: 0 none;
    
}

a:visited{
	color: white;
}

a:link{
    color: white;
	text-decoration: none;
}

.contenidd{
	width: 1366px;
	height: 606px;
}

.contenido3{
 width: 1366px;
 height: 100%;
 
}

table td:hover{
    color: white;
    
    margin: 10px;
    background-color: black;
    margin-top: -20px;
    opacity: 1;
}

ul li{
    padding: 10px;
}

.borde{
    color: white;
    border: 1px solid #BDC3C7;
    border-radius: 4px;
    margin: 10px;
    background-color: black;
    margin-top: -20px;
    opacity: 1;
}

table {
	position: absolute;
  top: 45px;
}
table td {
  
  text-align: center;
  opacity: 0.8;
  height: 30px;
}


.direc{
    color: #d1d1d7;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    vertical-align: middle;
    padding: 3px 25px;
    font-size: 12px;
}

